# Machine Learning
torch
torchvision
scikit-learn
pytorch-lightning

# Quantum Computing
merlinquantum

# Data & Analytics
pandas
numpy
matplotlib
tensorboard

# Utilities
torch-summary
discord-webhook
