# Machine Learning
torch
torchvision
scikit-learn
pytorch-lightning

# Quantum Computing
merlinquantum

# Data & Analytics
pandas
seaborn
numpy
matplotlib
tensorboard
openpyxl

# Utilities
torch-summary
discord-webhook
